/* ES24Datatable */

table.esdata {
    border: 1px solid #000;
    overflow: hidden;
}
.esdata th, .esdata td {
    padding: 5px 15px;
    border: 0;
    overflow: hidden;
}
.esdata th {
    background-color: #93cf31;
    color: #fff;
    cursor: pointer;
}
.esdata td {
    border-bottom: 1px solid #ccc;
}
.esdata tr:hover {
    background-color: #f0d600;
}
.essortable:hover {
    color: #f0d600;
}
td.eseditable {
    border: 2px solid #f0d600;
}
th.essearchbox {
    position: relative;
    padding: 0 !important;
}
.essearchbox input {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    padding: 5px 15px;
    margin: 0 0 0 0;
    left: 0;
    right: 0;
}
.essearchbox input:hover {
    opacity: 1;
}
td.esgrippy {
    background: transparent url('./img/grippy.png') no-repeat;
    background-position: 5px 7px;
    padding: 0 !important;
    cursor: pointer;
}
th.esgrippy {
    padding: 0 !important;
    width: 15px;
}
td.escheck {
    padding: 0 0 0 0 !important;
    text-align: center;
}
th.escheck {
    padding: 0 !important;
    width: 25px;
}